.footer {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #333333;
  justify-content: center;
  align-items: center;
}

.footerInner {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0;
}

.footerLogo {
  width: 41px;
  height: 32.5px;
  position: relative;
}

.footerInnerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerInnerLeftLogo {
  background-color: #ffffff;
  padding: 10px;
  width: 201.8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.footerInnerLeftLogo h1 {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.footerInnerLeftIcons ul {
  display: flex;
  list-style: none;
  width: 160px;
  justify-content: space-between;
}

.footerInnerLeftIcons ul li svg {
  color: white;
  height: 15px;
  width: auto;
}

.footerInnerLeftIcons h4 {
  color: white;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.footerInnerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerInnerRightMap h4 {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: white;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footerInnerRightMap {
  width: 280px;
}

.footerInnerRightMap:first-child {
  margin-right: 50px;
}

.footerInnerRightMap ul {
  display: flex;
  flex-direction: column;
  list-style: square;
  justify-content: space-between;
  height: 140px;
  padding-left: 20px;
}

.footerInnerRightMap ul a {
  width: fit-content;
}

.footerInnerRightMap ul li {
  color: white;
  cursor: pointer;
  width: fit-content;
}

.footerInnerLeftIcons p {
  color: white;
  width: 280px;
  font-size: 12px;
}

.footerInnerRightTop {
  display: flex;
}

.footerInnerRightBottom {
  display: flex;
  justify-content: flex-end;
}

.footerInnerRightBottom h6 {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 3px;
}

@media only screen and (max-width: 1100px) {
  .footerInner {
    flex-direction: column;
  }

  .footerInnerRightTop {
    flex-direction: column;
  }

  .footerInnerRightMap {
    width: 100%;
  }

  .footerInnerRightMap:first-child {
    margin-right: 0;
  }
  .footer {
    height: fit-content;
  }

  .footerInnerLeftIcons h4 {
    margin-top: 30px;
  }

  .footerInnerRightMap h4 {
    margin-top: 30px;
  }
  .footerInnerRightBottom {
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }
  .footerInnerRightBottom h6 {
    text-align: center;
    line-height: 1.3;
  }
}
