@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  /* scroll-behavior: smooth; */
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

button:active {
  animation-name: clickedAnimation;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
}

img,
button,
svg {
  user-select: none;
}

@keyframes clickedAnimation {
  0% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
a,
button,
input {
  font-family: "Poppins", sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

#nprogress .bar {
  background: #e10d17 !important;
  height: 6px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e10d17, 0 0 5px #e10d17 !important;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 10331 !important;
  top: unset !important;
  bottom: 10px !important;
  right: 10px !important;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #33333325, 0 0 5px #33333325 !important;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  padding: 10px;
  border: solid 2px transparent;
  border-top-color: #333333 !important;
  border-left-color: #333333 !important;
  border-radius: 50%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.fixedLayout {
  margin-top: 60px;
}

/* Home Swiper  */

.homeSwiper > .swiper-button-next {
  color: #333333;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.homeSwiper > .swiper-button-next::after {
  font-size: 20px;
}

.homeSwiper > .swiper-button-prev {
  color: #333333;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.homeSwiper > .swiper-button-prev::after {
  font-size: 20px;
}

/* Home Product Swiper */

.homeProductSwiper > .swiper-button-next {
  background-color: #333333;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.homeProductSwiper > .swiper-button-next::after {
  font-size: 20px;
}

.homeProductSwiper > .swiper-button-prev {
  background-color: #333333;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.homeProductSwiper > .swiper-button-prev::after {
  font-size: 20px;
}

/* fitDropdown */

.fitDropdown {
  border-radius: 5px !important;
  box-shadow: none !important;
  height: 38px;
  width: 196px;
  border: 1px solid #333333 !important;
}

.fitDropdown.ui.active.selection.dropdown .menu {
  border: none !important;
  border-radius: 20px !important;
  margin-top: 10px;
}

.fitDropdown.ui.active.selection.dropdown {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.fitDropdown2 {
  border-radius: 5px !important;
  box-shadow: none !important;
  height: 38px;
  width: 252px !important;
  border: 1px solid #333333 !important;
}

.fitDropdown2.ui.active.selection.dropdown .menu {
  border: none !important;
  border-radius: 20px !important;
  margin-top: 10px;
}

.fitDropdown2.ui.active.selection.dropdown {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

/* sortDropdown */

.sortDropdown {
  border-radius: 20px !important;
  box-shadow: none !important;
  height: 38px;
  width: 196px;
  border-color: rgba(34, 36, 38, 0.35) !important;
  margin-left: auto !important;
}

.sortDropdown :focus {
  border: none !important;
  border-color: rgba(34, 36, 38, 0.35);
}
.sortDropdown.ui.selection.active.dropdown {
  border-color: rgba(34, 36, 38, 0.35);
}

.sortDropdown.ui.selection.active.dropdown .menu {
  border-color: rgba(34, 36, 38, 0.35);
}

.sortDropdown.ui.selection.active.dropdown:hover {
  border-color: rgba(34, 36, 38, 0.35);
  border-radius: 20px 20px 0 0;
}

.sortDropdown.ui.selection.active.dropdown:hover .menu {
  border-color: rgba(34, 36, 38, 0.35);
}

@media only screen and (max-width: 500px) {
  .sortDropdown {
    margin-left: 0px !important;
  }
}

/* sizeRadio */

.sizeRadio .box:before,
.sizeRadio label:before {
  display: none !important;
}

.sizeRadio label:after {
  /* display: none !important; */
  top: 0 !important;
}

.sizeRadio label {
  opacity: 0.5;
}

.sizeRadio input:checked ~ label {
  opacity: 1;
}

/* Product Detail Sliders */

.productDetailMainSilder .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0);
  left: 20px;
}

.productDetailMainSilder .swiper-button-next {
  background-color: rgba(0, 0, 0, 0);
  right: 20px;
}

.productDetailMainSilder .swiper-button-prev:after,
.productDetailMainSilder .swiper-button-next:after {
  font-size: 35px !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 900 !important;
}

.productDetailMainSilder .swiper-button-prev,
.productDetailMainSilder .swiper-button-next {
  top: 50% !important;
}

.productDetailThumbs .swiper-button-prev,
.productDetailThumbs .swiper-button-next {
  top: 56% !important;
}

.productDetailThumbs .swiper-button-prev {
  background-color: rgb(0, 0, 0);
  width: 27px;
  height: 30px;
}

.productDetailThumbs .swiper-button-next {
  background-color: rgb(0, 0, 0);
  width: 27px;
  height: 30px;
}

.productDetailThumbs .swiper-button-prev:after,
.productDetailThumbs .swiper-button-next:after {
  font-size: 10px !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 900 !important;
}

/* Card Admin Product Modal */

.cardProdModal {
  width: fit-content !important;
}

.editproductmodal {
  width: fit-content !important;
}

/* loadingcss */
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.loadingModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingModal p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333333;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}
/**/
