.highlightedProduct {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 50px;
}

.title {
  font-size: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.title::before,
.title::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid grey;
}

.title::before {
  margin-right: 0.5em;
}

.title::after {
  margin-left: 0.5em;
}

.highlightedSwiper {
  width: 100%;
  margin: auto;
}
