.homeTopSwiper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding-top: 30px;
}
.imageWrap {
  position: relative;
  width: 100%;
  border-radius: 5px;
  height: 480px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imageWrap img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  animation: fadeIn 1s;
}

@media only screen and (max-width: 1000px) {
  .imageWrap {
    height: 300px;
  }

  .textAndButton .buttonContainer {
    right: 12%;
  }
}

@media only screen and (max-width: 700px) {
  .textAndButton .buttonContainer {
    margin: auto;
    right: 0;
    left: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .textAndButton h1 {
    font-size: 14px;
    padding: 5px;
  }

  .textAndButton2 h1 {
    font-size: 14px;
    padding: 5px;
  }
}
