.homeBanner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: space-between;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.imageWrap img {
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.imageWrap:hover img {
  object-fit: cover;
  filter: grayscale(0);
  transform: scale(1.1);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bannerBox {
  width: 32.45%;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
}

.bannerBox:nth-child(5n-4) {
  width: 49.35%;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
}

.bannerBox:nth-child(5n-3) {
  width: 49.35%;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
  .homeBanner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerBox {
    width: 100%;
    margin-bottom: 30px;
  }

  .bannerBox:nth-child(5n-4) {
    width: 100%;
    margin-bottom: 30px;
  }

  .bannerBox:nth-child(5n-3) {
    width: 100%;
    margin-bottom: 30px;
  }
}
