.myAccountPage {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 60px 0;
  min-height: calc(100vh - 400px);
}

.accountMenuSide {
  background-color: #efefefef;
  list-style: none;
  padding: 30px;
  width: 360px;
  height: 254px;
  border-radius: 5px;
}

.accountMenuSide li {
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.accountMenuSide li:last-child {
  margin-bottom: 0;
}

.accountMenuSide li p {
  display: flex;
  align-items: center;
}

.accountMenuSide li p svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.activeSection {
  font-weight: 900;
}

.activeSection::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid grey;
}

.activeSection::after {
  margin-left: 0.5em;
}

.accountRight {
  width: 65%;
  margin-left: 60px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .myAccountPage {
    flex-direction: column;
  }

  .accountMenuSide {
    width: 100%;
    margin-bottom: 30px;
  }

  .accountRight {
    margin-left: 0px;
    width: 100%;
  }
}
