.myAccountInfo {
  width: 100%;
}

.accountInfosContainer p {
  margin-bottom: 10px;
  border: 1px solid #efefefef;
  border-radius: 30px;
  width: fit-content;
  padding: 10px;
  background-color: #efefef5c;
}

.addAddress {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.addAddress span {
  text-decoration: none !important;
}

.accountInfosContainer p span {
  font-weight: 900;
  text-decoration: underline;
  margin-right: 10px;
}

.adddressContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.addressWrapper {
  height: 232px;
  width: 270px;
  border: solid 1px #e2e2e2;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  margin-right: 50px;
}

.addressWrapper h3 {
  background-color: #fafafa;
  border-bottom: solid 1px #e2e2e2;
  padding: 10px 15px;
}

.addressTextContainer {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

.addressTextContainer span {
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}

.addressButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.addressButtons button:first-child {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.addressButtons button:first-child svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.addressButtons button:last-child {
  border: 1px solid #f27a1a;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 0.5px;
  color: #f27a1a;
  background-color: transparent;
  font-size: 13px;
}

.updateAddressModal {
  padding: 35px;
}

.updateAddressModal p {
  width: 100%;
  background-color: #e0eede;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 !important;
  width: fit-content;
  margin-bottom: 10px !important;
}

.updateAddressModal textarea {
  max-height: 200px;
}

@media only screen and (max-width: 1108px) {
  .addressWrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 410px) {
  .addAddress {
    position: unset;
  }
}
