.myBasketPage {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
  position: relative;
  min-height: calc(100vh - 400px);
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.title::before,
.title::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid grey;
}

.title::before {
  margin-right: 0.5em;
}

.title::after {
  margin-left: 0.5em;
}
.basketPageContainer {
  display: flex;
}

.basketProductContainer {
  width: 70%;
}

.basketProductImage {
  position: relative;
  width: 100px;
  height: 150px;
}

.basketProductImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.basketProduct {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: 10px 25px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
}

.basketProduct ul {
  list-style: none;
  margin-left: 20px;
}

.basketProduct ul li {
  margin-top: 10px;
}

.basketButtonsAndTotalPrice {
  display: flex;

  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 45%;
}

.productCountContainer {
  display: flex;
}

.productCountContainer button {
  border: 1px solid #e6e6e6;
  padding: 5px;
  height: 30px;
  background-color: #fafafa;
  color: #e6e6e6;
}

.productCountContainer button:first-child {
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.productCountContainer button:last-child {
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.productCountContainer input {
  border: 1px solid #e6e6e6;
  height: 30px;
  padding: 0 10px;
  width: 40px;
  text-align: center;
}

.basketButtonsAndTotalPrice h3 {
  font-weight: 500;
  text-align: center;
}

.basketButtonsAndTotalPrice h3 span {
  text-decoration: line-through;
  font-weight: 400;
  color: #777777;
  font-size: 15px;
}

.basketButtonsAndTotalPrice svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.basketResultContainer {
  width: 25%;
}

.basketDesc {
  width: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.basketDesc h2 {
  font-weight: 500;
  margin-bottom: 15px;
}

.basketDesc h4 {
  margin-bottom: 10px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basketDesc h3 {
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  text-align: right;
}

.basketResultContainer button {
  border: none;
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 17px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7dbd5d;
  color: white;
  border-radius: 5px;
}

.emptyBasket {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.emptyBasket h2 {
  text-align: center;
}

.emptyBasket button {
  border: none;
  margin: auto;
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 17px;
  width: 280px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
  border-radius: 5px;
}
@media only screen and (max-width: 1120px) {
  .basketPageContainer {
    flex-direction: column;
    align-items: center;
  }

  .basketProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .basketProduct {
    flex-direction: column;
    height: 523px;
    width: 226px;
  }

  .basketProduct ul {
    margin-left: 0;
  }

  .basketResultContainer {
    width: 90%;
    margin-top: 40px;
  }

  .basketButtonsAndTotalPrice {
    flex-direction: column;
    margin-top: 30px;
    margin-left: 0;
  }

  .productCountContainer,
  .basketButtonsAndTotalPrice h3 {
    margin-bottom: 20px;
  }

  .basketButtonsAndTotalPrice {
    width: unset;
    height: unset;
  }
}
