.myBasketPage {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 60px;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.title::before,
.title::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid grey;
}

.title::before {
  margin-right: 0.5em;
}

.title::after {
  margin-left: 0.5em;
}

.basketProductContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basketProductImage {
  position: relative;
  width: 100px;
  height: 150px;
}

.basketProductImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.basketProduct {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 340px;
  margin: 10px 10px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
}

.basketProduct ul {
  list-style: none;
  margin-left: 20px;
}

.basketProduct ul li {
  margin-top: 10px;
}

.basketResultContainer {
  width: 50%;
  margin: auto;
}

.basketDesc {
  width: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.basketDesc h2 {
  font-weight: 500;
  margin-bottom: 15px;
}

.basketDesc h4 {
  margin-bottom: 10px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basketDesc h3 {
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  text-align: right;
}

.basketResultContainer button {
  border: none;
  margin-top: 30px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 17px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7dbd5d;
  color: white;
}

/* address */

.adddressContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.addressWrapper {
  width: 270px;
  border: solid 1px #e2e2e2;
  overflow: hidden;
  position: relative;
  margin: 25px;
  margin-top: 0;
}

.addressWrapper h3 {
  background-color: #fafafa;
  border-bottom: solid 1px #e2e2e2;
  padding: 10px 15px;
}

.addressTextContainer {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

.addressTextContainer span {
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}

.addressButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.addressButtons button:first-child {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.addressButtons button:first-child svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.addressButtons button:last-child {
  border: 1px solid #f27a1a;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 0.5px;
  color: #f27a1a;
  background-color: transparent;
  font-size: 13px;
}

.errorMessage {
  margin: 10px 0;
  border: 1px solid #efefefef;
  border-radius: 30px;
  width: fit-content;
  padding: 10px;
  background-color: #efefef5c;
}

.addAddressLink {
  border: none;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: white;
}

@media only screen and (max-width: 1120px) {
  .basketProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .basketProduct {
    flex-direction: column;
    height: unset;
    width: 239px;
  }

  .basketProduct ul {
    margin-left: 0px;
  }

  .basketResultContainer {
    width: 90%;
    margin-top: 40px;
  }
}
