.myOrders {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}

.pageTitle {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.orderWrapper {
  width: 100%;
  border: solid 1px #e2e2e2;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  margin-right: 50px;
}

.orderTitles {
  background-color: #fafafa;
  border-bottom: solid 1px #e2e2e2;
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
}

.orderTitles h3 {
  font-weight: 400;
}

.orderTitles h3 span {
  font-weight: 600;
}

.orderInfoContainer {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderInfoContainer span {
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}

.shipsCardProductImage {
  position: relative;
  width: 160px;
  height: 230px;
}

.shipsCardProductImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.shipsCardProduct {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: 10px 25px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
}

.shipsCardProduct ul {
  list-style: none;
  margin-left: 20px;
}

.shipsCardProduct ul li {
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .orderTitles {
    flex-direction: column;
  }

  .orderTitles h3 {
    margin-bottom: 10px;
  }

  .shipsCardProduct {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 475px) {
  .shipsCardProduct {
    flex-direction: column;
  }

  .pageTitle {
    flex-direction: column;
  }

  .pageTitle h1 {
    margin-bottom: 20px;
  }
}
