.navbar {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 90;
  background: #ffffff;
  animation: fadeOutBar ease 0.6s;
  border-bottom: 1px solid #333333;
}

@keyframes fadeOutBar {
  0% {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  100% {
    box-shadow: none;
  }
}

.navbarScroll {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeInBar ease 0.4s;
}

@keyframes fadeInBar {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.navbarLogo {
  width: 41px;
  height: 32.5px;
  position: relative;
}

.navbarInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  height: 100%;
}

.navbarInnerLeft a {
  display: flex;
  align-items: center;
}

.navbarInnerLeft h1 {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #3b3f77;
}

.navbarInnerRight {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbarInnerRight ul {
  display: flex;
  list-style: none;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}

.navbarInnerRight ul a li svg {
  width: auto;
  height: 20px;
}

.navbarInnerRight ul a li span {
  border-bottom: 1px solid #333333;
  padding-bottom: 1px;
}
.navbarInnerRight ul a:hover li span {
  color: #3b3f77;
  border-color: #3b3f77;
}

.navbarInnerRight ul a:hover li svg {
  color: #3b3f77;
}

@media only screen and (max-width: 600px) {
  .navbarInnerLeft h1 {
    display: none;
  }
}
