.orderCompletedPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.sellerCompletedSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  margin: auto;
}

.sellerCompletedSectionImgContainer {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.sellerCompletedSectionImgInner svg {
  position: relative;
  width: 80px;
  height: 80px;
}

.sellerCompletedSectionWrapper h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.sellerCompletedSectionWrapper a {
  width: 160px;
  height: 40px;
  border: none;
  color: white;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  background: linear-gradient(to right, white 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 78px;
}

.sellerCompletedSectionWrapper a:hover {
  background-position: left bottom;
  color: #333333;
  transition: all 0.1s ease-out;
  border: 1px solid #333333;
}

.sellerCompletedSectionWrapper p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 23px;
  font-weight: normal;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .sellerCompletedSectionWrapper {
    width: 90%;
  }

  .sellerCompletedSectionWrapper h1 {
    font-size: 25px;
  }

  .sellerCompletedSectionImgContainer svg {
  }
}
