.panelMain {
  width: 90%;
  max-width: 1200px;
  display: flex;
  margin: auto;
  padding: 40px 0;
  flex-direction: column;
  min-height: calc(100vh - 400px);
}

.panelLinks {
  width: 100%;
  margin-bottom: 40px;
}

.panelLinks ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}
.panelLinks ul li {
  width: 32%;
}

.panelLinks ul li button {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: white;
}

.usersDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .panelLinks ul {
    flex-direction: column;
  }

  .panelLinks {
    margin-bottom: 10px;
  }

  .panelLinks ul li {
    width: 100%;
    margin-bottom: 10px;
  }
}
