.productPage {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  min-height: calc(100vh - 400px);
}

.imgSide {
  width: 650px;
  margin-right: 50px;
}

.imgSide .imageWrap {
  position: relative;
  width: 100%;
  height: 650px;
}

.imgSide .imageWrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.descSide {
  margin-bottom: 50px;
}

.descSide h1 {
  font-size: 25px;
  margin-bottom: 30px;
}

.descSide h4 {
  font-size: 20px;
  margin-bottom: 25px;
}

.descSide h4 span {
  text-decoration: line-through;
  color: #777777;
  font-size: 14px;
  margin-bottom: 20px;
}

.colorChoicesTitle {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.colorChoices {
  display: flex;
  margin-top: 20px;
}

.colorChoices li {
  list-style: none;
  margin-right: 15px;
  width: 54px;
}

.colorChoices li h4 {
  font-size: 12px;
  margin: 0;
  margin-top: 8px;
  text-align: center;
  text-decoration: overline;
}

.colorChoiceImg {
  position: relative;
  width: 54px;
  height: 80px;
}

.colorChoiceImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sizeChoices {
  margin-top: 20px;
}

.sizeChoices {
  display: flex;
}

.sizeChoices div {
  margin-right: 15px !important;
}

.accordionBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 400px;
}

.accordionBox p {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333333;
  margin-bottom: 0px;
  user-select: none;
  cursor: pointer;
}

.accordionBox ul {
  display: none;
  height: 0px;
  padding: 20px 0;
  list-style: inside;
}

.accordionBox ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 20px;
}

.accordionBox .acoordionBoxOpen {
  display: block;
  height: unset;
}

.thumbsImageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.thumbsImageContainer {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.mainSliderContainerProduct {
  width: 100%;
  height: 650px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 23px;
}

.thumbsSliderContainerProduct {
  width: 100%;
  height: 120px;
}

.errorMessage {
  width: 100%;
  background-color: #e0eede;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 !important;
  margin-bottom: 10px !important;
}

@media only screen and (max-width: 1150px) {
  .productPage {
    flex-direction: column;
    align-items: center;
  }

  .imgSide {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 710px) {
  .imgSide {
    width: 400px;
  }

  .accordionBox {
    width: 300px;
    max-width: 300px;
  }

  .sizeChoices {
    flex-wrap: wrap;
  }

  .imgSide .imageWrap,
  .mainSliderContainerProduct {
    height: 400px;
  }
}

@media only screen and (max-width: 490px) {
  .imgSide {
    width: 300px;
  }

  .imgSide .imageWrap,
  .mainSliderContainerProduct {
    height: 300px;
  }
}
