.pageContainer {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 300px;
}

.imageWrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.filterAndSort {
  display: flex;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap;
}

.filtersContainer > div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productsContainer > div {
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.productsPagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.notFoundProducts {
  background-color: #e7e7e7e7;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px !important;
}

@media only screen and (max-width: 500px) {
  .productsContainer > div {
    margin-right: 0px;
    margin-left: 0px;
  }

  .filterAndSort {
    flex-direction: column;
    align-items: center;
  }

  .filtersContainer {
    justify-content: center;
  }

  .filtersContainer div {
    margin-right: 0;
  }
}
