.productPanelFormContainer h5 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.productPanelFormContainer {
  border-bottom: 1px solid #333;
}

.productPanelForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
}

.productPanelFormDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.productPanelFormDiv label {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.productPanelFormDiv input {
  height: 38px;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0 10px;
}

.productPanelFormDiv textarea {
  height: 100px;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
}

.productPanelFormDivCheck {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.productPanelFormDivCheck label {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.productPanelFormDivChecks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.productPanelFormDivChecks div {
  display: flex;
  align-items: center;
}

.productPanelFormDivChecks div span {
  margin-left: 3px;
}

.productPanelFormDivDrop {
  display: flex;
  flex-direction: column;
}

.productPanelFormDivDrop label {
  margin-bottom: 10px;
  margin-top: 10px;
}

.productPanelForm button {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #333333;
  border-radius: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
}

.allProds {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.allProds h5 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.allProdsCardImage {
  position: relative;
  width: 160px;
  height: 230px;
}

.allProdsCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.allProdsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  max-width: 280px;
  width: 280px;
  height: 600px;
}

.allProdsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.allProdsCard ul {
  list-style: none;
  margin-top: 10px;
  width: 90%;
}

.allProdsCard ul li {
  margin-top: 10px;
}

.allProdsCard ul li:nth-child(1) {
  min-height: 40px;
  line-height: 1.2;
}

.allProdsCard ul li:nth-child(2) {
  min-height: 40px;
  line-height: 1.2;
}

.allProdsCard ul li button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #333333;
  border-radius: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
}
