.productContainer {
  width: 300px;
  margin: auto;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 340px;
  border-radius: 5px;
}

.imageWrap img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.productText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
  letter-spacing: 0.1px;
  text-align: center;
  font-size: 20px;
}

.productText h2 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 25px;
}

.productText p span {
  text-decoration: line-through;
  color: #777777;
  font-size: 13px;
}

.detailBtn {
  margin-top: 20px;
  width: 100%;
  height: 40px;
}
.detailBtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  outline: none;
  color: white;
  background-color: #333333;
  font-weight: 500;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  border-radius: 5px;
}
