.registerContainer {
  width: 90%;
  max-width: 1200px;
  padding: 40px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 400px);
}

.registerContainer h4 {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 40px;
}

.registerForm span {
  width: 100%;
  background-color: #e0eede;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  border-radius: 5px;
}

.registerForm div {
  display: flex;
  flex-direction: column;
}

.registerForm div label {
  font-size: 14px;
  margin: 20px 0 10px 0;
}

.registerForm div input {
  height: 40px;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0 20px;
}

.registerForm p {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.registerForm button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  outline: none;
  color: white;
  background-color: #333333;
  font-weight: 500;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.goLoginBtn {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.goLoginBtn button {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  outline: none;
  color: white;
  background-color: #333333;
  font-weight: 500;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}
