.shipsCont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shipsSections {
  width: 100%;
  margin-bottom: 40px;
}

.shipsSections ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}
.shipsSections ul li {
  width: 24%;
}

.shipsSections ul li button {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: white;
}

.shipsCardProductImage {
  position: relative;
  width: 160px;
  height: 230px;
}

.shipsCardProductImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shipsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.allCardProducts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.shipsCardProduct {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 210px;
  padding: 20px;
  margin: 10px 20px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
}

.shipsCardCustomer {
  width: 100%;
}

.shipsCardCustomer ul {
  list-style: none;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shipsCardCustomer ul li {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.shipsCardProduct ul {
  list-style: none;
  margin-left: 0px;
  margin-top: 10px;
  height: 160px;
}

.shipsCardProduct ul li {
  margin-top: 10px;
}

.cardProductsBtns {
  display: flex;
  margin-top: 10px;
}

.cardProductsBtns > button {
  width: 200px;
  height: 40px;
  border: none;
  color: white;
  background-color: #333;
  border-radius: 5px;
  margin: 10px;
}

.cardProductsForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px 20px;
}

.cardProductsForm label {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.cardProductsForm textarea {
  font-size: 14px;
  height: 90px;
  margin-bottom: 20px;
  padding: 10px;
}

.cardProductsForm button {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  background-color: #333;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .shipsSections ul {
    flex-direction: column;
  }

  .shipsSections {
    margin-bottom: 10px;
  }

  .shipsSections ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  .cardProductsBtns {
    flex-direction: column;
  }
}
