.usersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.usersCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
  width: 300px;
  height: 90px;
  border-radius: 5px;
  margin: 10px 15px;
}

.usersCard span {
  font-size: 14px;
  margin-bottom: 4px;
}
